web/node_modules
web/public
web/.tmp
web/.idea
web/client/bower_components
web/dist
#web/server/config/local.env.js
web/npm-debug.log

mobil/node_modules
mobil/www
mobil/.idea
mobil/.temp
mobil/.sass-cache
mobil/app/bower_components
mobil/coverage
mobil/platforms
mobil/plugins
mobil/*.swp
mobil/*.swo
mobil/*.log
mobil/*.DS_Store



#mobil/app/scripts/configuration.js

